.menu{
    display:flex;
    flex-direction: column;
    gap: 1.8rem;
    height: 93vh;
}
.logo{
    text-align: center;
    padding: 10px;
    color: #27374d;
    /* justify-content: center; */
    align-items: center;
    display: flex;
    gap: 10px;
}

.logo h4 {
    margin: 0;
}
.logo-icon{
    font-size: 1.8rem;
}
.menu--list{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.menu--list .item{
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 1.1rem;
    text-decoration: none;
    font-weight: 600;
    padding: 10px;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
    color: #27374d;
    border: none;
    background: #dde6ed;
}
.menu--list .item:hover{
    background: #27374d;
    color: #dde6ed;
}
.logo-image {
  width: 50px; /* Adjust the width as needed */
  height: 50px; /* Maintain aspect ratio */
}