/* src/components/InventarioNavBar.css */

.inventario-nav-bar {
  display: flex;
  border-bottom: 1px solid #e0e0e0;
  /*margin-bottom: 20px;*/
  background-color: #f8f8f8;
  padding: 0 10px;
}

.nav-tab {
  padding: 12px 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  color: #555;
  transition: all 0.3s ease;
  position: relative; /* Necesario para la línea de abajo */
}

.nav-tab:hover {
  color: #007bff; /* Color azul al pasar el ratón */
}

.nav-tab.active {
  color: #007bff; /* Color azul para la pestaña activa */
  font-weight: 600;
}

/* Línea de abajo para la pestaña activa */
.nav-tab.active::after {
  content: '';
  position: absolute;
  bottom: -1px; /* Ajusta esto para que la línea quede justo en el borde inferior */
  left: 0;
  width: 100%;
  height: 3px; /* Grosor de la línea */
  background-color: #007bff; /* Color de la línea */
  border-radius: 2px 2px 0 0;
}

.nav-tab:focus {
  outline: none; /* Elimina el contorno de enfoque por defecto */
}