@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
.contenedor-buscadorUI {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}
.encabezado-buscadorUI {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  padding: 0 2% 0 2%;
  margin: 10px 0 15px 0;
  background-color: #eef1f3; /* #f7f9fa;*/
  border-radius: 10px;
}
.filtros-buscadorUI {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  justify-items: center;
  gap: 10px;
  padding: 0 2% 0 2%;
  margin-bottom: 15px;
  background-color: #eef1f3; /* #f7f9fa;*/
  border-radius: 10px;
}
.tabla-resultados-buscadorUI {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* justify-content: center; */
  /* justify-content: space-between; */
  /* padding-top: 15px; */
  overflow-y: scroll;
  max-height: 58vh;
  min-height: 58vh;
  border-top: #969393 solid 2px;
}
.imagen-busqueda {
  height: 100px;
  width: 100px;
}
.imagen-busqueda-ui {
  height: 50px;
  width: 50px;
}
.datos-vista-previa {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-left: 0;
}
.titulo-filtros-busqueda {
  font-size: 0.8rem;
  font-weight: 400;
}
.cabeza-filtros {
  display: flex;
  flex-direction: column;
}
.filtro-icono {
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  font-size: 1.9rem;
  color: #969393;
}
.shadow-encabezado {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.campos-vista-previa {
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  text-align: center;
  font-size: 0.7rem;
}
.titulo-tabla-resultados {
  font-weight: 500;
  text-align: center;
  font-size: 0.9rem;
}
.contenedor-sub-tabla {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #eef1f3;
  transition: transform 200ms linear;
}
.tabla-resultados-buscadorUI th {
  position: sticky;
  top: 0;
}
.td-center-buscadorUI {
  text-align: center;
  vertical-align: middle;
  padding: 10px 0;
  border: none;
}
.centrando-contenido {
  /* display: table; */
  /* display: table-cell; */
  vertical-align: middle;
  width: 100%;
}
.toggle-btnS {
  cursor: pointer;
  transition: transform 200ms linear;
  transform: rotate(0deg);
}
.toggle-btnSA {
  transition: transform 200ms linear;
  transform: rotate(90deg);
  /* cursor: pointer;
  transition: transform 0.3s; */
}
.toggle-btnS-rota > .toggle-btnS {
  transform: rotate(90deg);
}

.div-appears {
  width: "100%";
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 10px;
  background: #f7f9fa;
  padding-bottom: 10px;
  border-radius: 10px;
}

:focus + .div-appears {
  opacity: 0;
  display: none;
  transition: opacity 0.5s, display 0.5s;
}
